@tailwind base;
@tailwind components;
@tailwind utilities;



p {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

.gochi {
  font-family: "Gochi Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

.carousel-container {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}